<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Welcome to Wysebits, <%= @user.username %></h1>
    <div>
      <p>Click <a href="http://localhost:3000/registrations/confirm/<%= @user.confirmation_token %>">here</a> to activate your account</p>
    </div>
  </body>
  
</html>
